ul
{
  list-style-type: square;
}

#header
{
  background: #333;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.30, #333), color-stop(0.80, #505050));
  background: -moz-linear-gradient(center bottom, #333 30%, #505050 80%);
  height: 54px;
  color: #fff;
}

#header h1
{
  color: #fff;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

a.new
{
  color: #ff0000;
}

